#kafka-replica-verification

## Lab: Validate that all replicas for a set of topics have the same data.

```sh
./kafka-replica-verification --broker-list 192.168.0.3:9092
```

